@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <strong>Github repository:</strong> <a href="https://github.com/rambocoder/uptime">rambocoder/uptime</a>
</div>

<div>
    <strong>DockerHub:</strong> <a href="hhttps://hub.docker.com/r/rambocoder/uptime">rambocoder/uptime</a>
</div>
